body {
  background: linear-gradient(90deg, #e0e1f5 0%, #f2f1e3 100.31%);
  background-position: center;
  min-height: 100vh;
  font-family: "Noto Sans Arabic", sans-serif;
}

.slick-prev::before,
.slick-next::before {
  color: #464646 !important;
}
.icon-outline svg path {
  stroke: #28d8ae;
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}
/*
.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}
*/
.arrow--disabled svg {
  color: #c8c5c5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: none;
}
.active-thumb-item {
  border: solid 3px #28d8ae;
}
