@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* font-family: "Noto Sans Arabic", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Noto Sans Arabic", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  max-width: 100%;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */

  box-sizing: border-box;
}
