@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* font-family: "Noto Sans Arabic", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Noto Sans Arabic", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  max-width: 100%;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */

  box-sizing: border-box;
  /* height: -webkit-fill-available; */

  /* colors */
  --primary-light: #90ffe5;
  --primary: #28d8ae;
  --secondary: #30a79f;
  --tertiary: #f3f4f7;
  --quaternary: #464646;

  -webkit-tap-highlight-color: transparent; /* red highlight */
  min-height: 100vh;
}
body {
  /* height: -webkit-fill-available; */
}

.check-button span:nth-child(2) {
  border-radius: 5px;
  background-color: #fff;
}
.check-button span:last-child {
  color: #464646;
}
.bgc-primary {
  background-color: var(--primary);
}
.ct-primary {
  color: var(--primary);
}
::-webkit-scrollbar {
  width: 0px;
  /* height: 10px; */
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}

/* HTML: <div class="loader"></div>  loader*/
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 var(--primary), -20px 0 var(--primary-light);
    background: var(--primary);
  }
  33% {
    box-shadow: 20px 0 var(--primary), -20px 0 var(--primary-light);
    background: var(--primary-light);
  }
  66% {
    box-shadow: 20px 0 var(--primary-light), -20px 0 var(--primary);
    background: var(--primary-light);
  }
  100% {
    box-shadow: 20px 0 var(--primary-light), -20px 0 var(--primary);
    background: var(--primary);
  }
}
.radio-submit > span {
  opacity: 0;
}

/* ============================== */

.home-search-result :last-child {
  border: none;
}

.notification-list .notification-item:last-child .notification-text {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
.team-card img {
  filter: grayscale(100);
  transition: filter 0.3s ease;
}
.team-card:hover img {
  filter: grayscale(0);
}
